<h1>id: <%= @message.id %> のメッセージ詳細ページ</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td><%= @message.id %></td>
    </tr>
    <tr>
      <th scope="row">タイトル</th>
      <td><%= @message.title %></td>
    </tr>
    <tr>
      <th scope="row">メッセージ</th>
      <td><%= @message.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'このメッセージを編集する', edit_message_path(@message), class: "btn btn-light" %>
<%= link_to 'このメッセージを削除する',  @message, method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してよろしいですか？' } %>